---
const { title, url, description, tags, date} = Astro.props;
const captionDate = new Date(date)
import Divider from "./Divider.astro";
---

<li class="blog-post">
  <Divider />
  <a href={url}>
    <h2 class="blog-post-title">
      {title}
    </h2>
  </a>
  <p class="caption-date">{`${captionDate.getFullYear()}년 ${captionDate.getMonth()+1}월 ${captionDate.getDate()}일`}</p>
  <ul class="tag-container">
    {tags.map((tag) => <li class="tag-item">{tag}</li>)}
  </ul>
  <p class="description">{description}</p>
</li>

<style>
.blog-post-title {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #111827;
  margin: 1.25rem 0 0;
}

.description {
  font-size: 1rem;
  color: #111827;
  margin: 0.75rem 0 1.75rem;
  text-align: left;
  word-break: keep-all;
}

.tag-container {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin: 0.75rem 0 0.25rem;
}

.tag-item {
  background: #93C5FD;
  color: #f9fafb;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.caption-date{
  margin: 0.25rem 0 0.5rem;
  font-size: 0.875rem;
  color: #374151;
}
</style>
