---
const { title, url, description, tags, date } = Astro.props;
const captionDate = new Date(date);
import Divider from "./Divider.astro";
import TagList from "./TagList.astro";
---

<li class="blog-post">
  <Divider />
  <a href={url}>
    <h2 class="blog-post-title">
      {title}
    </h2>
  </a>
  <p class="caption-date">
    {
      `${captionDate.getFullYear()}년 ${
        captionDate.getMonth() + 1
      }월 ${captionDate.getDate()}일`
    }
  </p>
  <TagList tags={tags} />
  <p class="description">{description}</p>
</li>

<style>
  .blog-post-title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #111827;
    margin: 1.25rem 0 0;
  }

  .description {
    font-size: 1rem;
    color: #374151;
    margin: 0.75rem 0 1.75rem;
    text-align: justify;
    word-break: keep-all;
  }
  .caption-date {
    margin: 0.25rem 0 0.5rem;
    font-size: 0.875rem;
    color: #374151;
  }
</style>
